<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universe.toastmasters.mapper.AhcounterReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.universe.toastmasters.pojo.domain.AhcounterReportDO">
        <id column="id" property="id"/>
        <result column="report_no" property="reportNo"/>
        <result column="ah_counter" property="ahCounter"/>
        <result column="resolved_result_json" property="resolvedResultJson"/>
        <result column="role" property="role"/>
        <result column="name" property="name"/>
        <result column="total_used" property="totalUsed"/>
        <result column="frequently_used_words_top3" property="frequentlyUsedWordsTop3"/>
        <result column="most_used_name_top3" property="mostUsedNameTop3"/>
        <result column="least_used_name_top3" property="leastUsedNameTop3"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, report_no, ah_counter, resolved_result_json, role, name, total_used,
        frequently_used_words_top3, most_used_name_top3, least_used_name_top3, create_time
    </sql>

</mapper>
