<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universe.toastmasters.mapper.GrammarianReportDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.universe.toastmasters.pojo.domain.GrammarianReportDetailDO">
        <id column="id" property="id" />
        <result column="report_no" property="reportNo" />
        <result column="name" property="name" />
        <result column="section" property="section" />
        <result column="speech_figures" property="speechFigures" />
        <result column="sentence" property="sentence" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, report_no, name, section, speech_figures, sentence, create_time
    </sql>

    <select id="batchSaveReportDetail" parameterType="list">
        insert into t_grammarian_report_detail(report_no, name, section, speech_figures, sentence)
        values
        <foreach collection="list" item="detail" open="" separator="," close="">
            ( #{detail.reportNo}, #{detail.name}, #{detail.section}, #{detail.speechFigures}, #{detail.sentence} )
        </foreach>
    </select>

</mapper>
